*,
*:after,
*:before {
    box-sizing: border-box;
}

.envelope {
    border: 1px solid #ccc;
    padding: 10px;
}

.label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.from {
    width: 75%;
    float: left;
}

.to {
    width: 65%;
    margin-left: 35%;
    clear: both;
}

.stamp {
    width: 25%;
    float: left;
}

.stamp img {
    float: right;
}